*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #e9ebee;
    color: #1d2129;
    font-family: 'Nanum Gothic', sans-serif;
}

button{

    border: none;
    background: transparent;
}

.icon{
    display: inline-block;
    margin-right:10px;
    font-size: 25px;
}

.profile-img{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* Header */

#header{
    width: 100vw;
    background-color: #4267B2;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#header .inner{
    width: 1012px;
    height: 42px;
    margin: 0 auto;
    padding-right: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .inner__left{
    display: flex;
    
}

#header .inner__logo{
    color: #fff;
    opacity: 1;
}
#header .inner__search-container{

    width: 380px;
    height: 23px;
    background:  #fff;
    position: relative;

}

#header .inner__search-container input{
    outline: none;
}
#header .inner__left button{
    position: absolute;
    right: -5px;
    padding: 4px 10px;
    top: 50%;
    transform: translateY(-50%);
}

#search{
    border: none;
    border-radius: 3px;
    width: 100%;
    padding: 5px 10px;
}

#header .inner__right{
    display: flex;
    align-items: center;
}

#header .inner__profile{
    display: flex;
    align-items: center;
}

#header .inner__profile .profile-img{
    margin-right: 5px;

}
#header .inner__text{
    color: #fff;
    padding-right: 10px;
}

#header .inner__right > div{
    margin-left: 10px;
    position: relative;
}

#header .inner__right > div:after{
    content: '';
    width: 1px;
    height: 17px;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -9px;
    background: rgba(0, 0, 0, 0.3);
}


#header .inner__right > div:last-child:after{
    display: none;
}

.inner__right .icon{
    opacity: 0.7;
}

.inner__right .icon:hover{
    opacity: 1;
}
#header .bell{
    position: relative;
}

#header .bell:before{
    content: '1';
    color: #fff;
    background-color:#FA383E;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    font-size: 10px;
    position: absolute;
    top: -3px;
    right: -3px;
    z-index: 1000;
}

#header .notice{
    width: 400px;
    background-color: #fff;
    position: absolute;
    right: -16px;
    top: 34px;
    z-index: 1000;
    border: 1px solid rgba(100,100,100,4);
    border-radius: 0 0 3px 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    display: none;
}
#header .fa-caret-up{
    position: absolute;
    top: -16px;
    right: 10px;
    color: #fff;
    font-size: 26px;
}

#header .fa-user-circle{
    font-size: 24px;
}

#header .notice h3{
    font-size: 13px;
    font-weight: 500;
    color: #333;
    padding: 8px 12px;
    border-bottom: solid 1px #e2e2e2;
}

#header .notice ul{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 500px;
}

#header .notice ul > li{
    padding: 10px 12px;
    font-weight: 300;
    border-bottom: solid 1px #e2e2e2;
}
#header .notice ul > li > a{
    display: flex;
    align-items: center;
}

#header .notice ul > li:hover{
    background-color: #edf2fa;
}

#header .notice .profile-img{
    width: 48px;
    height: 48px;
    margin-right: 5px;
}

#header .notice .name{
    font-weight: bold;
}

#header .notice .time{
    color: #90949c;
    margin-top: 10px;
}

/* menus */
#menus{
    background-color: #fff;
}
#menus a{
    display: flex;
    align-items: center;

}

#menus .menu__profile{
    padding: 5px 10px;
    margin: 5px 0 10px 5px;
}

#menu .profile-name{
    font-size: 1rem;
}

#menus .menu__list li{
    padding: 5px 10px;
    margin-bottom: 2px;
    border: 1px solid transparent;
    font-size: 0.8rem;
}
#menus .menu__list li.active{
    background-color: #eee;
    border: 1px solid #dddfe2;

}

#menus .menu__list li.active .more-icon{
    display: block;
}
#menus .menu__list li:hover{
    background-color: #eee;
    border: 1px solid #dddfe2;
}

#menus .more-icon{
    display: none;
    margin-left: auto;
    color: rgb(100, 95, 95);
}

#menus .menu__list li:hover .more-icon{
    display: block;

}

#menus .message-icon{
    color: rgb(62, 180, 226);
}

/* contents */
#contents{

}
#contents .create-box{
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
}

.create-box .title{
    color: #4b4f56;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 0.8rem;
    padding: 8px 5px;
    background-color: #f5f6f7;
    border-bottom: 1px solid #dddfe2;
    border-radius: 2px 2px 0 0;
}

.create-box .text-field{
    padding: 8px;
}
.create-box .text-field .top{
    display: flex;
    align-items: center;
    color: #90949c;
    font-size: 0.8rem;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddfe2;
}

.create-box .text-field .top .profile-img{
    margin-right: 20px;
}

.create-box .text-field .top p{
    width: 100%;
}

#text-field{
    border: none;
    height: 24px;
    width: 90%;
    resize: none;
    font-size: 1rem;
}

.create-box .text-field .middle{

}

.create-box .text-field .bottom{
    font-size: 0.7rem;
    color: #4b4f56;
    font-weight: bold;
}

#file-photo{
    display: none;
}

.create-box .text-field .bottom .import-btn{
    border-radius: 30px;
    background-color: #eee;
    padding: 5px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.create-box .text-field .bottom .import-btn:hover{
    background-color: #dddddd;

}
#photo-label{
    display: flex;
    align-items: center;
    cursor: pointer;
    
}
#photo-label i{
    margin-right: 5px;
    font-size: 0.9rem;
    color: #206e09;
}
.create-box .submit{
    border-top: 1px solid #dddfe2;
    text-align: center;
    padding: 5px 10px;
    display: none;
}

.create-box .submit input{
    width: 100%;
    height: 28px;
    border-radius: 3px;
    background-color: #4267b2;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.create-box .submit input:disabled{
    background-color: #9cb4d8;
}

#contents .content{
    background-color: #fff;
    margin-bottom: 10px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    color: #90949c;
    font-size: 0.8rem;
    font-weight: bold;
}

.content header{
    position: relative;
    padding: 10px 20px;
}

.content .profile{
    display: flex;
    align-items: center;
}

.content .profile .name{
    color: #1245aa;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.content .profile .time{
    color: #616770;
}

.content .profile .profile-img{
    width: 40px;
    height: 40px;
    margin-right: 7px;
}

.content .profile .more{
    margin-left: auto;
    cursor: pointer;
    padding: 10px 0;
    position: relative;
}

.content .more.active .hidden-menu{
    display: block;
}

.content .hidden-menu{
    position: absolute;
    right: 20px;
    top: 30px;
    width: 100px;
    border: 1px solid #dddfe2;
    border-radius: 3px;
    display: none;
}

.content .hidden-menu li{
    padding: 5px 10px;
    background-color: #fff;
    text-align: center;
    border-bottom: 1px solid rgba(221,223,226,0.57);
}

.content .hidden-menu li:hover{
    background: #ddd;
}

.content .hidden-menu li *{
    background: transparent;
    border: none;
    font-size: 0.8rem;
    outline: none;
    cursor: pointer;
}

.content .main-content p{
    padding: 5px 20px;
    color: #1d2129;
    font-size: 14px;
    line-height: 1.38;
    font-weight: normal;
}

.content .img-section{
    overflow: hidden;
    border: 1px solid #dddfe2;

}

.content .img-section img{
    width: 100%;
    padding: 10px;
}

.content .ajax-field{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.content .btn-groups{
    display: flex;
    height: 42px;
    border-top: 1px solid #dddfe2;
    border-bottom: 1px solid #dddfe2;

}

.content .btn-groups div{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .btn-groups div:hover{
    background-color: #e2e2e24b;

}

.content .btn-groups i{
    font-size: 14px;
    margin-right: 5px;
}

.content .comments{
    padding: 10px 20px;
    color: #385898;
}

.content .comments .id{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}

.content .comments .id .text-container{
    display: flex;
    padding: 10px;
    background-color: #F2F3F5;
    border-radius: 30px;
}


.content .comments .id .text-container .name{
    margin-right: 5px;
}

.content .comments .id .text-container .text-field{
    color: #1C1E21;
    font-weight: normal;
}

.content .comment-input{
    display: flex;
    padding: 10px 20px;
    align-items: center;
}

.content .comment-input .input-container{
    width: 100%;
    padding: 7px 0;
    background-color: #F2F3F5;
    border: 1px solid #ccd0d5;
    border-radius: 30px;
    text-align: center;
    position: relative;
}

.content .comment-input .input-container input{
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    background: none;
}

.content .comment-input .input-container button{
    background:transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


/* profile */
#profile .myprofile{
    background-color: #fff;
    border-radius: 3px;
    padding-bottom: 20px;
}

#profile .title{
    padding: 10px 20px;
    font-size: 13px;
    color: #616770;
    border-bottom: 1px solid #dadde1;
}

#profile .info{
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dadde1;
}

#profile .info img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

#profile .detail .name{
    font-size: 14px;
    font-weight: bold;
    color: #385898;
    margin-bottom: 5px;
}

#profile .detail .message{
    color: #90949c;
    font-size: 13px;
    font-weight: 200;
}

#profile .detail .message i{
 font-size: 12px;
}